{% extends 'Main/layout.html' %}

{% block title %}Кафедры НГТУ{% endblock %}

{% block header %}
    <h1>Кафедры университета</h1>
    <p>Список всех кафедр НГТУ НЭТИ</p>
{% endblock %}

{% block navigate%}
    <div class="container">
      <a class="navbar-brand" href="#">НГТУ НЭТИ</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
           <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Вход</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'departmants' %}">Кафедры</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'works' %}">Работы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Контакты</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'AddWork' %}">Добавить работу</a>
          </li>
        </ul>
      </div>
    </div>
{%endblock%}

{% block main%}
    <section class="mb-5">
      <h2>Список кафедр</h2>
      <div class="list-group">
        <a href="{% url 'physics' %}" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Кафедра Физики</h5>
          </div>
          <p class="mb-1">Основные направления:....</p>
        </a>
        <a href="{% url 'math' %}" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Кафедра Математики</h5>
          </div>
          <p class="mb-1">Основные направления: ....</p>
        </a>
        <a href="{% url 'informatics' %}" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Кафедра Информатики</h5>
          </div>
          <p class="mb-1">Основные направления:....</p>
        </a>
      </div>
    </section>
{% endblock %}